<div class="shadow-sm p-3 mb-2 rounded">
  <div>
    <p class="text-muted">Today is <%= today %></p>
  </div>
  <h3>This Week's Snapshot</h3>

  <ul>
    <li>
      Goal:
      <% if dashboard.user.goal? %>
        <%= dashboard.no_goal %> noes
        <%= link_to 'Update', new_goal_path %>
      <% else %>
        <span class="text-muted">
          <%= link_to 'set a target', new_goal_path %>
          for how many noes to get this week
        </span>
      <% end %>
    </li>

    <% if dashboard.user.goal? %>
      <li>
        Progress: <%= dashboard.progress %>%
      </li>
    <% end %>

    <li>
      Touchpoints today: <%= dashboard.num_touchpoints_today %>
    </li>

    <li>
      Touchpoints this week: <%= dashboard.num_touchpoints_this_week %>
    </li>
  </ul>
</div>
