<h1>Dashboard</h1>

<div>
  <p>Today is <%= today %>.</p>
</div>

<div>
	<p>Here's your snapshot for this week:</p>
	<ul>
		<li>
			Number of noes needed: <%= @dashboard.num_noes_needed %>
		</li>
		<li>
			Number of noes so far: <%= @dashboard.num_noes %>
		</li>
		<li>
			Progress: <%= @dashboard.progress %>%
		</li>
		<li>
			Touchpoints today: <%= @dashboard.num_touchpoints_today %>
		</li>
	</ul>
</div>
