<h1>Dashboard</h1>

<div>
  <p>Today is <%= today %>.</p>
</div>

<div>
  <h5>This Week's Snapshot</h5>

  <ul>
    <li>
      Noes: <%= @dashboard.num_noes %>/<%= @dashboard.num_noes_needed %>
    </li>
    <li>
      Progress: <%= @dashboard.progress %>%
    </li>
    <li>
      Touchpoints today: <%= @dashboard.num_touchpoints_today %>
    </li>
  </ul>
</div>

<div>
  <h5>Untouched Contacts</h5>

  <% if @dashboard.untouched_contacts.any? %>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Website</th>
            <th>Phone Number</th>
            <th>Note</th>
          </tr>
        </thead>

        <tbody>
          <% @dashboard.untouched_contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= link_to contact.website, contact.website, target: '_blank' %></td>
            <td><%= contact.phone_number %></td>
            <td><%= contact.note %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>
      It looks like you already reached out to all your contacts at least once.
    </p>
  <% end %>
</div>

<div>
  <h5>Follow-up Contacts</h5>

  <% if @dashboard.follow_up_contacts_today.any? %>
    <p>
      Here's a list of contacts you should reach out to today. They're ordered by
      when you created the touchpoint.
    </p>

    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Website</th>
            <th>Phone Number</th>
            <th>Note</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @dashboard.follow_up_contacts_today.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= link_to contact.website, contact.website, target: '_blank' %></td>
            <td><%= contact.phone_number %></td>
            <td><%= contact.note %></td>
            <td><%= link_to 'Touchpoint', contact.follow_up_touchpoint %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>
      We didn't find any contacts who need a follow-up today.
    </p>
  <% end %>
</div>
