<h1>Dashboard</h1>

<div>
  <p>Today is <%= today %>.</p>
</div>

<div>
	<p>Here's your snapshot for this week:</p>
	<ul>
		<li>
			Number of noes needed: <%= @dashboard.num_noes_needed %>
		</li>
		<li>
			Number of noes so far: <%= @dashboard.num_noes %>
		</li>
		<li>
			Progress: <%= @dashboard.progress %>%
		</li>
		<li>
			Touchpoints today: <%= @dashboard.num_touchpoints_today %>
		</li>
	</ul>
</div>

<div>
  <p>Here are contacts you haven't touched yet:</p>
  <% if @dashboard.untouched_contacts.any? %>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Website</th>
          <th>Phone Number</th>
          <th>Note</th>
        </tr>
      </thead>

      <tbody>
        <% @dashboard.untouched_contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= link_to contact.website, contact.website, target: '_blank' %></td>
            <td><%= contact.phone_number %></td>
            <td><%= contact.note %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      We didn't find any contacts without touchpoints or any touchpoints which need
      to be followed up on today.
    </p>
  <% end %>
</div>
