<%= render 'shared/page_title',
           page_title: 'Blog | Learn how to boost your confidence and get more sales results.' %>

<h1 class="mb-3">Blog</h1>

<div class="row">
  <div class="col-4 col-md-3 mb-3">
    <div class="text-center bg-primary text-white" style="font-size: 5rem;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="col-8 col-md-5">
    <h2>
      <%= link_to 'Title', '#' %>
    </h2>
    <p>
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4 col-md-3 mb-3">
    <div class="text-center bg-secondary text-white" style="font-size: 5rem;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="col-8 col-md-5">
    <h2>
      <%= link_to 'Title', '#' %>
    </h2>
    <p>
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4 col-md-3 mb-3">
    <div class="text-center bg-success text-white" style="font-size: 5rem;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="col-8 col-md-5">
    <h2>
      <%= link_to 'Title', '#' %>
    </h2>
    <p>
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4 col-md-3 mb-3">
    <div class="text-center bg-purple text-white" style="font-size: 5rem;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="col-8 col-md-5">
    <h2>
      <%= link_to 'Title', '#' %>
    </h2>
    <p>
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4 col-md-3 mb-3">
    <div class="text-center bg-danger text-white" style="font-size: 5rem;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="col-8 col-md-5">
    <h2>
      <%= link_to 'Title', '#' %>
    </h2>
    <p>
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4 col-md-3 mb-3">
    <div class="text-center bg-warning text-white" style="font-size: 5rem;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="col-8 col-md-5">
    <h2>
      <%= link_to 'Title', '#' %>
    </h2>
    <p>
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4 col-md-3 mb-3">
    <div class="text-center bg-dark text-white" style="font-size: 5rem;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="col-8 col-md-5">
    <h2>
      <%= link_to 'Title', '#' %>
    </h2>
    <p>
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4 col-md-3 mb-3">
    <div class="text-center bg-indigo text-white" style="font-size: 5rem;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="col-8 col-md-5">
    <h2>
      <%= link_to 'Title', '#' %>
    </h2>
    <p>
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4 col-md-3 mb-3">
    <div class="text-center bg-teal text-white" style="font-size: 5rem;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="col-8 col-md-5">
    <h2>
      <%= link_to 'Title', '#' %>
    </h2>
    <p>
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4 col-md-3 mb-3">
    <div class="text-center bg-cyan text-white" style="font-size: 5rem;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="col-8 col-md-5">
    <h2>
      <%= link_to 'Title', '#' %>
    </h2>
    <p>
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4 col-md-3 mb-3">
    <div class="text-center bg-pink text-white" style="font-size: 5rem;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="col-8 col-md-5">
    <h2>
      <%= link_to 'Title', '#' %>
    </h2>
    <p>
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-4 col-md-3 mb-3">
    <div class="text-center bg-orange text-white" style="font-size: 5rem;">
      <i class="fas fa-phone"></i>
    </div>
  </div>
  <div class="col-8 col-md-5">
    <h2>
      <%= link_to 'Title', '#' %>
    </h2>
    <p>
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
      No Before Yes
    </p>
  </div>
</div>

<hr>
