<%= render 'shared/page_title',
           page_title: 'Pricing | Try it free for 30 days then join when you are ready.' %>

<div>
  <h1>Pricing</h1>
  <p class="lead">
    Choose the plan right for you. Cancel anytime without any hassle or headaches.
  </p>
</div>

<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">30 Day Free Trial</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$0</h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Unlimited contacts</li>
        <li>Unlimited touchpoints</li>
        <li>Goals</li>
        <li>Insightful Analytics</li>
        <li>Reporting</li>
        <li>Notifications</li>
        <li>Email support</li>
        <li>Help center access</li>
      </ul>
      <%= link_to sign_up_path, class: "btn btn-lg btn-block btn-outline-primary" do %>
        Start a 30 day free trial
        <br>
        <small>no credit card required; cancel anytime</small>
      <% end %>
    </div>
  </div>

  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Professional</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Everything in Free</li>
        <li>Import contacts via CSV</li>
      </ul>
			<%= link_to 'Get started', sign_up_path, class: "btn btn-lg btn-block btn-primary" %>
    </div>
  </div>

  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Business</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">$99 <small class="text-muted">/ mo</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>Everything in Professional</li>
        <li>Unlimited users</li>
        <li>Activity Feed</li>
        <li>Virtual Go Before No! Workshop</li>
      </ul>
      <%= link_to 'Contact us', sign_up_path, class: "btn btn-lg btn-block btn-primary" %>
    </div>
  </div>
</div>

<div class="">
  <h1>Common Questions</h1>
  <div>
    <h3>Do you offer discounts?</h3>
    <p>
      Yes: when you pay for a year in advance, you receive a 15% discount.
      Students and teachers receive free accounts and non-profits get a discount.
    </p>
  </div>

  <div>
    <h3>As a Business, would we pay extra for more users?</h3>
    <p>
      No. One monthly (or discounted yearly) charge is all you'd be charged.
    </p>
  </div>

  <div>
    <h3>Will we be charged as soon as our 30 day free trial ends?</h3>
    <p>
      No. When you sign up for a 30 day free trial, we don't ask you for any
      payment details. When you're ready to join as a paid customer, select the
      plan you want and provide your payment details then. Cancel whenever you
      want without any pressure.
    </p>
  </div>

  <div>
    <h3>Can we extend our 30 day free trial?</h3>
    <p>
      Sure thing...if you need more time,
      <%= link_to 'let us know', support_path %>.
    </p>
  </div>

  <div>
    <h3>I still have unanswered questions &mdash; help!</h3>
    <p>
      We're here for you. Head over to our Support page and let us know what we
      can do for you.
    </p>
  </div>
</div>
