<h1>Editing User</h1>

<%= form_for @user do |form| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
			</h2>

			<ul>
				<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= render partial: '/users/form', object: form %>

	<div class="mb-1">
		<%= form.submit 'Save', class: 'btn btn-primary btn-block' %>
	</div>

	<div class="other-links">
		<%= link_to 'Cancel', @user, class: 'btn btn-outline-primary btn-block' %>
	</div>
<% end %>
