<h3 class="mb-3"><%= @contact.name %></h3>

<p>
  <strong>Website:</strong>
  <% if @contact.website %>
    <%= link_to @contact.website, @contact.website, target: '_blank' %>
  <% else %>
    <span class="text-muted">none</span>
  <% end %>
</p>

<p>
  <strong>Email:</strong>
  <% if @contact.email %>
    <%= @contact.email %>
  <% else %>
    <span class="text-muted">none</span>
  <% end %>
</p>

<p>
  <strong>Phone number:</strong>
  <% if @contact.phone_number %>
    <%= @contact.phone_number %>
  <% else %>
    <span class="text-muted">none</span>
  <% end %>
</p>

<p>
  <strong>Note:</strong>
  <% if @contact.note %>
    <%= @contact.note %>
  <% else %>
    <span class="text-muted">none</span>
  <% end %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @contact.user.email %>
</p>

<%= link_to 'Back', contacts_path %> |
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Delete',
						@contact,
						method: :delete,
						data: { confirm: 'Are you sure?' } %>

<hr>

<h4>Touchpoints</h4>

<% if @touchpoints.any? %>
  <% @touchpoints.each do |touchpoint| %>
    <div class="card mb-1">
      <div class="card-body">
        <p class="card-text">
          <b>Recap:</b> <%= touchpoint.recap %>

          <br>

          <b>Follow Up On:</b> <%= TouchpointPresenter.new(touchpoint).follow_up_on %>

          <br>

          <b>Source:</b> <%= touchpoint.source %>

          <br>

          <b>Result:</b> <%= touchpoint.result %>

          <br>

          <b>Created At:</b> <%= TouchpointPresenter.new(touchpoint).created_at %>
        </p>

        <%= link_to 'Show', touchpoint, class: 'card-link' %>
        <%= link_to 'Edit', edit_touchpoint_path(touchpoint), class: 'card-link' %>
        <%= link_to 'Delete',
                    touchpoint,
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: 'card-link' %>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="text-muted">
    You haven't reached out to this contact yet.
  </p>
<% end %>
