<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @contact.website, @contact.website, target: '_blank' %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contact.phone_number %>
</p>

<p>
  <strong>Note:</strong>
  <%= @contact.note %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @contact.user.email %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
