<h3 class="mb-3"><%= @contact.name %></h3>

<%= render 'show_page_fields', contact: @contact %>

<%= link_to 'Back', contacts_path %> |
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Delete',
						@contact,
						method: :delete,
						data: { confirm: 'Are you sure?' } %>

<hr>

<h4>Touchpoints</h4>

<% if @touchpoints.any? %>
  <%= render 'touchpoints/touchpoints', touchpoints: @touchpoints, title: false %>
<% else %>
  <p class="text-muted">
    You don't have any touchpoints for this contact because you haven't
    reached out to them yet.
  </p>
<% end %>
