<p id="notice"><%= notice %></p>

<h1>Touchpoints</h1>

<table>
  <thead>
    <tr>
      <th>Recap</th>
      <th>Follow up on</th>
      <th>Source</th>
      <th>Result</th>
      <th>User</th>
      <th>Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @touchpoints.each do |touchpoint| %>
      <tr>
        <td><%= touchpoint.recap %></td>
        <td><%= touchpoint.follow_up_on %></td>
        <td><%= touchpoint.source %></td>
        <td><%= touchpoint.result %></td>
        <td><%= touchpoint.user.email %></td>
        <td><%= touchpoint.contact.name %></td>
        <td><%= link_to 'Show', touchpoint %></td>
        <td><%= link_to 'Edit', edit_touchpoint_path(touchpoint) %></td>
        <td><%= link_to 'Destroy', touchpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Touchpoint', new_touchpoint_path %>
