<h3 class="mb-3">
  Touchpoint for <%= link_to @touchpoint.contact.name, @touchpoint.contact %>
</h3>

<p>
  <strong>Created at:</strong>
  <%= TouchpointPresenter.new(@touchpoint).created_at %>
</p>

<p>
  <strong>Recap:</strong>
  <%= @touchpoint.recap %>
</p>

<p>
  <strong>Follow up on:</strong>
  <%= TouchpointPresenter.new(@touchpoint).follow_up_on %>
</p>

<p>
  <strong>Source:</strong>
  <%= @touchpoint.source %>
</p>

<p>
  <strong>Result:</strong>
  <%= @touchpoint.result %>
</p>

<p>
  <strong>Contacted by:</strong>
  <%= @touchpoint.user.email %>
</p>

<hr>

<%= render 'contacts/show_page_fields', contact: @touchpoint.contact %>

<%= link_to 'Back', :back %> |
<%= link_to 'Edit', edit_touchpoint_path(@touchpoint) %> |
<%= link_to 'Delete',
						@touchpoint,
						method: :delete,
						data: { confirm: 'Are you sure?' } %> |
<%= link_to 'New Touchpoint', new_touchpoint_path %>
