<h3 class="mb-3">Touchpoint for <%= @touchpoint.contact.name %></h3>

<p>
  <strong>Recap:</strong>
  <%= @touchpoint.recap %>
</p>

<p>
  <strong>Follow up on:</strong>
  <%= @touchpoint.follow_up_on %>
</p>

<p>
  <strong>Source:</strong>
  <%= @touchpoint.source %>
</p>

<p>
  <strong>Result:</strong>
  <%= @touchpoint.result %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @touchpoint.contact.name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= TouchpointPresenter.new(@touchpoint).created_at %>
</p>

<p>
  <strong>Contacted by:</strong>
  <%= @touchpoint.user.email %>
</p>

<%= link_to 'Back', :back %> |
<%= link_to 'Edit', edit_touchpoint_path(@touchpoint) %> |
<%= link_to 'Delete',
						@touchpoint,
						method: :delete,
						data: { confirm: 'Are you sure?' } %> |
<%= link_to 'New Touchpoint', new_touchpoint_path %>
