<h1>Stats</h1>

<p class="text-muted">We crunched some numbers for you.</p>

<div>
	<h3>Contacts</h3>

	<ul>
		<li><strong>Total:</strong> <%= @stats.contact_size %></li>
		<li><strong>Overdue:</strong> <%= @stats.overdue_size %></li>
		<li><strong>Untouched:</strong> <%= @stats.untouched_size %></li>
	</ul>
</div>

<div>
	<h3>Touchpoints</h3>

	<ul>
		<li><strong>Total:</strong> <%= @stats.touchpoint_size %></li>
		<li><strong>No:</strong> <%= @stats.no_size %></li>
		<li><strong>Yes:</strong> <%= @stats.yes_size %></li>
		<li><strong>Unknown:</strong> <%= @stats.unknown_size %></li>
	</ul>
</div>

<hr>

<div>
	The number of noes you need to get one yes:
	<% if @stats.noes_needed_for_one_yes.zero? %>
	  <span class="text-muted">we need more data to calculate this for you.</span>
	<% else %>
	  <%= @stats.noes_needed_for_one_yes %>
	<% end %>
</div>
