<li class="nav-item <%= active_link?(:dashboard) %>">
	<%= link_to 'Dashboard',
							dashboard_path,
							class: 'nav-link' %>
</li>
<li class="nav-item <%= active_link?(:contacts) %>">
	<%= link_to 'Contacts',
							contacts_path,
							class: 'nav-link' %>
</li>
<li class="nav-item <%= active_link?(:touchpoints) %>">
	<%= link_to 'Touchpoints',
							touchpoints_path,
							class: 'nav-link' %>
</li>
<li class="nav-item <%= active_link?(:stats) %>">
	<%= link_to 'Stats',
							stats_path,
							class: 'nav-link' %>
</li>
<li class="nav-item <%= active_link?(:support) %>">
	<%= link_to 'Support', support_path, class: 'nav-link' %>
</li>
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle"
	   data-toggle="dropdown"
		 href="#"
		 role="button"
		 aria-haspopup="true"
		 aria-expanded="false">
		Account
	</a>
	<div class="dropdown-menu dropdown-menu-right">
		<%= link_to 'Weekly Goal', new_goal_path, class: 'dropdown-item' %>
		<%= link_to 'Profile', current_user, class: 'dropdown-item' %>
		<div class="dropdown-divider"></div>
		<%= link_to 'Sign out',
								sign_out_path,
								method: :delete,
								class: 'dropdown-item' %>
	</div>
</li>
