<head>
	<% unless Rails.env.development? %>
	  <%= render 'shared/google_analytics' %>
	<% end %>
	<meta name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="author"    content="No Before Yes">
	<meta name="webmaster" content="Danelson Rosa">
	<meta name="copyright" content="No Before Yes">
	<meta name="description" content="Become a more confident and effective salesperson with our CRM.">
	<meta name="application-name" content="No Before Yes">

	<title><%= yield(:page_title) %></title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
